<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Loki" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- Default Loki URL can be overridden with LOKI_URL env var -->
  <variable name="lokiUrl" value="${environment:LOKI_URL:http://loki:3100/loki/api/v1/push}" />

  <targets>
    <target xsi:type="Loki" name="loki"
            url="${var:lokiUrl}"
            labels="{app=\"${environment:SERVICE_NAME:searchapi}\", env=\"${environment:ASPNETCORE_ENVIRONMENT:Production}\"}"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString}" 
            includeAllProperties="true"
            labelKeys="level,logger" />

    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="loki,console" />
  </rules>
</nlog>
